{% extends 'base.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/recomendacoes.css' %}">
    
    <section class="container">
        <h1>Crypto Recommendations</h1>
        <p>Here are some suggestions based on your past research::</p>

        {% if recomendados %}
            <ul class="crypto-list">
            {% for cripto in recomendados %}
                <li class="crypto-item">
                    <span class="crypto-name">{{ cripto.nome }} ({{ cripto.simbolo }})</span>
                    <span class="crypto-price">${{ cripto.preco }}</span>
                    <span class="crypto-market">Market Cap: ${{ cripto.market_cap }}</span>
                    <span class="crypto-volume">Vol 24h: ${{ cripto.volume_24h }}</span>
                </li>
            {% endfor %}
            </ul>
        {% else %}
            <p class="no-data">No recommendations available. Do some searches so we can start learning your interests!</p>
        {% endif %}

        <p class="back-link"><a href="{% url 'MainCT:index' %}">Back to Research</a></p>
    </section>
{% endblock %}